@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    font-family: 'Source Sans Pro', Arial, helvetica, sans-serif;
    margin: 0;
}

body { padding-left: 300px; }

fieldset#explorer-fieldset {
    background-color: #ccc;
    border: 0;
    border-bottom: 1px solid #000;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 9;
    box-sizing: border-box;
}

fieldset#explorer-fieldset label {
    display: inline-block;
    font-size: 14px;
    left: 4px;
    /*position: relative;
    top: -24px;*/

}

fieldset#explorer-fieldset input, fieldset#explorer-fieldset textarea, fieldset#explorer-fieldset select {
    border: 1px solid #000;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    margin-top: 0px;
    padding: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
    width: 100%;
}


fieldset#explorer-fieldset input[type=button] { background-color: #999; }

fieldset#explorer-fieldset input[type=text], fieldset#explorer-fieldset input[type=password] {
    font-family: Consolas;
}

pre#json-data {
    border: 1px solid #ccc;
    padding: 8px;
}

fieldset#explorer-fieldset textarea#headers-textarea {
    height: 100px;
}
div#response-wrapper { position: relative; }

div#response-wrapper div#spinner {
    background-color: #fff;
    bottom: 5px;
    box-sizing: border-box;
    left: 5px;
    opacity: 0.8;
    padding-top: 100px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
}

p#api-bookmarks {
    font-size: 80%;
    margin: 0;
    padding: 4px;
}

a.action-button {
    background-color: #666;
    border: 1px solid #333;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}

a.action-button.DELETE {
    background-color: #900;
    border-color: #300;
}

a.action-button.DELETE:hover { background-color: #c33; }

a.action-button.POST {
    background-color: #009;
    border-color: #003;
}

a.action-button.POST:hover {
    background-color: #33c;
    border-color: #003;
}

a.action-button.PUT {
    background-color: #090;
    border-color: #030;
}

a.action-button.PUT:hover { background-color: #3c3; }


form.api-form { display: none; }

form.api-form label {
    float: left;
    font-weight: bold;
    width: 100px;
}

form.api-form textarea {
    font-family: "Fira Code", Consolas, monospace;
    font-size: 12px;
    height: 300px;
    line-height: 160%;
    width: 100%;
    margin-top: 8px;
}

hr {
    border-color: #999;
    border-width: 1px 0 0 0;
}

.ui-widget {
    font-size: 12px;
}